@font-face {
  font-family: 'DS-Digital Regular';
  font-display: swap;
  src: url('../fonts/digital/DS-Digital.eot');
  src: url('../fonts/digital/DS-Digital.eot?#iefix') format('embedded-opentype'),
    url('../fonts/digital/DS-Digital.woff') format('woff'),
    url('../fonts/digital/DS-Digital.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik Regular';
  font-display: swap;
  src: url('../fonts/rubik/Rubik-Regular.eot');
  src: url('../fonts/rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rubik/Rubik-Regular.woff') format('woff'),
    url('../fonts/rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin display {
  font-family: 'DS-Digital Regular';
}

@mixin keys {
  font-family: 'Rubik Regular';
}